<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="http://127.0.0.1:5000">Home Page</a></li>
        <li><a href="http://127.0.0.1:5000/load">Load Data</a></li>
        <li><a href="http://127.0.0.1:5000/form">Add Data</a></li>
        <li><a href="http://127.0.0.1:5000/find">Find data</a></li>
      </ul>
      <style>
        ul{
            list-style-type: none;
            margin-top: 25px;
            padding-left: 10px;
            overflow: hidden;
        }
        li{
            float: left;
        }
        li a {
            display: block;
            padding: 8px;
            background-color: rgb(28, 174, 211);
        }
      </style>
<form action='{{ url_for("delete")}}' method = 'POST' >
    <select id="valuesdropdown" name = 'data'>
    </select>
    <script>
        var users = {{dat | tojson | safe}}
        // function setAttributes(el, attrs) {
        //     for(var key in attrs) {
        //         el.setAttribute(key, attrs[key]);
        //     }
        // }
        const valuesdropdown = document.getElementById('valuesdropdown')
        for (let key in users){
            console.log(key);
            let option = document.createElement("option");
            option.setAttribute('value', key);
            // setAttributes(option, {'value':key})
            let optionText = document.createTextNode(key);
            option.append(optionText);
    
            valuesdropdown.appendChild(option);
        }
    </script>
    <input type = "submit" value = "delete" onclick="alert('Value is deleted')"/>
</form>
</body>
</html>